[user]
	name = Joe Ray
	email = joe@joeray.me
[color]
	ui = true
[alias]
    st = status
    co = checkout
    wdiff = diff --color-words
    rh = reset HEAD
    pr = pull --rebase
[core]
	editor = vim
[push]
	default = simple
[diff]
	submodule = log
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
