[user]
	name = Joe Ray
	email = joe@joeray.me
	signingkey = 126790D6804EFECC
[color]
	ui = true
[alias]
    st = status
    co = checkout
    wdiff = diff --color-words
    rh = reset HEAD
    pr = pull --rebase
    l = log --graph --pretty=format:'%C(yellow)%h %Cblue%aN %Cgreen%ar %Cblue%G? %Creset%s'
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[diff]
	submodule = log
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
