[user]
	name = Joe Ray
	email = joe@joeray.me
[color]
	ui = true
[alias]
    st = status
    co = checkout
    wdiff = diff --color-words
    rh = reset HEAD
[core]
	editor = vim
[push]
	default = simple
